<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    This is the body
    <div id="app">
    
    
        <!-- React will load here -->
      </div>
    
      <div id="infocard">
    
        <!-- React will load here -->
      </div>
    


</body>
{% load static %}
<script src="{% static "/frontend/main.js" %}"></script>
</html>